//Font family
$main: 'Kulim Park', sans-serif;

//Colors
$text: #d8d8e7;
$header: #7473a9;
$hov: #3f3da5;
$act: #403dd9;
$shop-text: #ff1800;
$shop-hov: #a0198a;
$shop-act: #ca00aa;
$price: #2eba3f;

//Icon colors
$facebook: #3b5998;
$instagram: #37729b;
$twitter: #00acee;
$youtube: #c4302b;
$spotify: #1db954;
$soundcloud: #ff7700;